<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon.ico" rel="icon">

  <title>My Portfolio</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/bg.jpg')"></div>
  <div class="background-color-layer" style="background-image: url('./static/assets/images/bg.jpg')"></div>
    <div class="background-color-layer" style="background-image: url('./static/assets/images/bg.jpg')"></div>
<!--<div class="background-color-layer" style="background-image: url('./static/assets/images/bg.jpg')"></div>-->
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Vijayragul Vijayan</h1>
      <p style="font-size:20px">Data Scientist</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/vijay.ragul.50/" title="" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://github.com/vj-ragul96/" title="" target="_blank">
          <i class="fa fa-github"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/vijayragul-vijayan-73346165/" title="" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>

      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/vijay.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>A fresher in Data Science who's building a career in AI/ML.
                 I have a good programming skills in python. I have some hands-on research experience in developing
                Machine Learning Models using Python and Matlab for companies like JLR.</p>

              <p>I’ve working experience in Python Programming and some of it’s libraries like Pandas, Keras, Numpy, Scikitlearn, OpenCV, Matplotlib, WolframAlpha, PyQt5 etc…
                 I'm also familiar with the web-development scripts HTML5, CSS3 and basics of JavaScript. I'm familiar with developing the server with Flask library in Python.
                 I’m passionate towards working for future technologies and I wanted to be a part of a team that wants to see a different world.
              </p>
              </div>
            </div>
          </div>
        </div>

       <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <strong><u>Linear Actuator Monitoring of Vehicle Assembly line using ML Approaches:</u></strong>
                <p><img src="./static/assets/images/samp1.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
              <br>
                <br>
                <br>
                <br>
                <br>

              <p>This project was based on the development of a condition-based maintenance system for a rack and pinion
                drive in the marriage station of a Jaguar-Land Rover manufacturing plant. The key skills used during the
                project were FMECA, Digital twin using Simulink, Testing of the rig (which works similar to the marriage station),
                collection of information/data from different sensors, signal translation using MATLAB, Detection Algorithm
                development and Cost Analysis. </p>

                <ul>
                  <li>The rig was tested under 116 conditions and 537 data sets which includes Current, Accelerometer,
                      UltraSonic and Vibration Sensors were collected and analysed.</li>

                  <li>Different kinds of features like RMS, Kurtosis, Mean, Skewness etc.. were extracted from each signals
                      of different fault and analysed.
                      </li>

                  <li>As per the test, the Vibration test showed best results tan any other sensors and have the ability to detect
                      the faults at early stage.</li>

                </ul>

              </div>
            </div>

             <div class="row">
              <div class="col-md-4">
                <b><u>An Intelligent Fault Diagnosis for Aircraft Fuel Systems Using ML Approaches:</u></b>
                <p><img src="./static/assets/images/samp2.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

                <br>
                <br>
                <br>


              <p>This method was implemented on a laboratory scale fuel test rig developed in the IVHM centre in Cranfield University.
                The project included the testing of the rig and gathering the signals for healthy condition and different fault
                conditions injected in the rig and process them in MATLAB & Python for extracting different features and developing
                an artificial intelligence for diagnosing the faults in the system using machine learning approach in
                MATLAB. </p>

                <ul>
                  <li>The data from the pump speed, pressure sensors and flow meter for different fault conditions and healthy
                      conditions were collected, cleaned and sorted into training and test data.</li>

                  <li>Different kinds of features were extracted from each signals and feeded into Linear Regression Model
                      (Beacause it detected with high accuracy). The final model was tested with the testing data and the
                      model detected faults at high accuracy of over 82%.
                      </li>

                  <li> The developed Fault Diagnosis  System has the ability to find the fault, it's severity and also provides diagnosis
                       to the fault.  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>






        <div class="card">
          <div class="card-block">
            <h2>Work</h2>

             <div class="work-experience">
              <small class="date">03-2019 to 07-2020</small><br>
              <span style="font-size: 20px; color:black">Lead Generation Associate - Prodex Technologies.</span>
              <span style="font-size:18px; padding:20px"> Chennai, TN, India.</span>
              <br>
              <ul>
                <li>Devoted special emphasis to punctuality and worked to maintain outstanding attendance record,
                  consistently arriving to work ready to work immediately.</li>
                <li>Monitored social media and online sources for industry trends.  </li>
                <li>Resolved Conflicts and negotiated mutually beneficial agreements between parties.</li>
              </ul>
            </div>

            <div class="work-experience">
              <small class="date">11-2019 to 02-2020</small><br>
              <span style="font-size: 20px; color:black">Python Developer(Intern) - Code Analytics.</span>
              <span style="font-size:18px; padding:20px"> Coimbatore, TN, India.</span>
              <br>
              <ul>
                <li> Learned and trained in Object Oriented Programming.</li>
                <li> Developed small/mini projects like Image/Speech Processing using OpenCV and Google Speech
                     Recognition API, Twitter Bot, Password Checker and Web Scraping.  </li>
                <li> Developed fully functional websites using HTML5, CSS3 and JavaScript and also learned Flask Library for the
                     backend work.</li>
              </ul>
            </div>

          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">

              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">May-2020 to Aug-2020</small>
                  <h3 class="h5 date-title">Advanced Python Programming</h3>
                  <p>Zero to Mastery, Udemy</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">Oct-2018 to Sep-2019</small>
                  <h3 class="h5 date-title">M.Sc. Aerospace Engineering</h3>
                  <p>Cranfield University, UK.</p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">June-2014 to April-2018</small>
                  <h3 class="h5 date-title">B.E. Mechanical Engineering</h3>
                  <p>Anna University, India.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English-  <small>Bilingual</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Tamil-  <small>Fluent</small></h3>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>

            <div class="row">
              <div class="col-md-4">
            <form name="myForm" action="submit_form" method="post" onsubmit="return validateForm()" class="reveal-content">
              <div class="form-group">
                <input name="email" type="email" class="form-control"  id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary" style="border:none; outline:none;">Send message</button>
                <button type="reset" class=" btn btn-primary" style="border:none; outline:none;">Reset</button>
              </div>
            </form>
              </div>

              <div class="col-md-8">
                <p> I'm actively looking for Data Scientist role. So, please drop me a message if you feel my profile and experience
                  would suit your company's expectations.
                <br>
                    Please do take a look at some of the samples of my work in my Github page.
                </p>

                <p>ThankYou!</p>
                <br>

                <h5 style="color:black">Address:</h5>
                <h5 style="font-size:16px;color:grey">15, North Street, Singanallur.</h5>
                <h5 style="font-size:16px;color:grey">Coimbatore, TamilNadu, India - 641005.</h5>
                 <h3 class="h5">Email: <small>vijay.ragul.50@gmail.com</small></h3>
                 <h3 class="h5">Phone: <small>(+91)-8903451256</small></h3>


              </div>
            </div>
          </div>
        </div>

        </div>
     </div>
 </div>
       

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <p> Follow me on Social Networks
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/vijay.ragul.50/" title="" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://github.com/vj-ragul96/" title="" target="_blank">
          <i class="fa fa-github"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/vijayragul-vijayan-73346165/" title="" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>

      </p>



      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>

<script>
function validateForm() {
  var x = document.forms["myForm"]["email"].value;
  var y = document.forms["myForm"]["subject"].value;
  var z = document.forms["myForm"]["message"].value;
  if (x,y,z == "") {
    alert("Form must be filled out");
    return false;
  }
}
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>