<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">

  <link href="./static/assets/images/favicon.ico" rel="icon">

  <title>ThankYou!</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>-->

<body class="" style="background-color:#ff336e; border-style: none;">

<div class="background-color-layer" style="background-image: url('./static/assets/images/bg.jpg')"></div>

<h2>Thank You! Your Form has been submitted successfully...</h2>

</body>>

</html>